.main{
    max-width: var(--max-width-md);
    margin: 0 auto;
}

.aboutTitle{
    font-size: var(--fs-page-hero-title);
    font-family: "cinzel-extrabold";
}

.aboutHero{
    padding: 10rem 1rem 5rem;
}