@import "./abstracts/fonts.css";
@import "./abstracts/colors.css";
@import "./base/resets.css";

:root {
  --max-width-xsm: 576px;
  --max-width-sm: 576px;
  --max-width-md: 768px;
  --max-width-lg: 922px;
  --max-width-xl: 1200px;

  --fs-page-hero-title: clamp(3em, 6vw, 6.5em);
}

body {
  font-family: "barlow-condensed-regular";
}

/* APP STYLES */

.headerContainer {
  background-color: var(--clr-copper-canyon);
}

.header {
  max-width: var(--max-width-md);
  color: var(--clr-neutral-700);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  margin: 0 auto;
}

.primaryLogo {
  font-family: "cinzel-extrabold";
  font-size: 1.5rem;
  line-height: 1;
}

.primaryLogo .firstWord {
  color: var(--clr-pixie-green);
}

.primaryLogo .secWord {
  color: var(--clr-sepia-black);
}

.primaryNavItem {
  display: flex;
  gap: 3vw;
}

.primaryNavLink {
  color: var(--clr-pixie-green);
  font-size: 1.3em;
  font-family: "barlow-condensed-regular";
  transition: color ease-in-out 0.2s;
}

.primaryNavLink.active {
  color: var(--clr-sepia-black);
}

.primaryNavLink:hover,
.primaryNavLink:focus {
  color: var(--clr-sepia-black);
}

.homeHeroContainer {
  /* background-image: linear-gradient(45deg,
    var(--clr-pixie-green),
    var(--clr-copper-canyon)
  ); */
  padding: 5rem 1rem 1rem;
}

.homeHero {
  background-image: url("../assets/img/hero-bg-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* display: flex;
  flex-direction: column;
  gap: 2rem; */
  max-width: var(--max-width-md);
  margin: 0 auto;
}

.homeHeroInfoContainer {
  padding: 15rem 1rem 2rem;
  background-image: linear-gradient(rgba(122, 157, 40, 0.212), rgb(28, 28, 28));
  color: var(--clr-pixie-green);
}

.homeHeroInfo {
  max-width: 30rem;
}

.homeHeroImg {
}

.homeHeroTitle {
  font-size: clamp(2em, 3.5vw, 4em);
  line-height: 1;
  margin-bottom: 1rem;
  font-family: "Cinzel";
}

.homeHero {
  /*   background-image: url("../assets/img/hero-bg-img.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply; */
}

.main {
}

.gardenOwnerProfileSection {
  margin-top: 4rem;
  background-color: var(--clr-pixie-green);

}

.gardenOwnerProfileContainer {
  padding: 2rem 1rem;
  max-width: var(--max-width-md);
  margin: 0 auto;
}

.gardenOwnerProfile {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 1rem;
}

.gardenOwnerImgContainer {
}

.gardenOwnerImg {
  border-radius: .2rem;
}

.plantFactsSection {
  padding: 4rem 1rem;
}

.plantsFactsContainer {
  max-width: var(--max-width-md);
  margin: 0 auto;
}

.plantFactsTitle {
  font-family: "cinzel-extrabold";
  font-size: clamp(2em, 3vw, 4em);
}

.plantFactsSubtitle {
  font-size: clamp(1.5em, 2vw, 3em);
  margin: 1rem 0 0.5rem;
}

.plantFacts {
  padding: 0 1rem;
}

.footerContainer {
  background-color: var(--clr-sepia-black);
  color: var(--clr-pixie-green);
}

.footer {
  max-width: var(--max-width-md);
  margin: 0 auto;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLogo {
  font-family: "dancing-script-medium";
  font-size: 4em;
  display: flex;
  gap: 0;
}

.footerNavItem {
  display: flex;
  gap: 3vw;
}

.footerNavLink {
  font-size: 1.3em;
  font-family: "barlow-condensed-regular";
  transition: color ease-in-out 0.2s;
  color: var(--clr-neutral-700);
}

.footerNavLink:hover {
  color: var(--clr-copper-canyon);
}

.footerLogo .firstWord,
.footerLogo .secWord {
  color: var(--clr-pixie-green);
}

.websiteAuthorContainer {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 0.7em;
}
