:root{
    --clr-pixie-green: #d4d4b1;
    --clr-hazel: #8a7e26ff;
    --clr-copper-canyon: #7e3b10ff;
    --clr-sepia-black: #1f0101;
    --clr-olive-drab: #6f8724;

    --clr-neutral-100: hsl(0, 0%, 5%);
    --clr-neutral-200: hsl(0, 0%, 20%);
    --clr-neutral-300: hsl(0, 0%, 35%);
    --clr-neutral-400: hsl(0, 0%, 50%);
    --clr-neutral-500: hsl(0, 0%, 65%);
    --clr-neutral-600: hsl(0, 0%, 80%);
    --clr-neutral-700: hsl(0, 0%, 95%);   
}